!!!
%html
  %head
    %title= content_for(:title) || "My App"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    = csrf_meta_tags
    = csp_meta_tag

    = yield :head

    = favicon_link_tag "favicon.ico"

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    %script{src: "https://code.jquery.com/jquery-3.6.0.min.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.3/rails.min.js"}
    = javascript_importmap_tags

  %body
    = render 'shared/header'

    .container
      = yield

    = render 'shared/footer'
